###############################################################################
###############################################################################
###                                                                         ###
###                Input template for LAMMPS SASA simulations.              ###
###                To execute with the -var argument for the                ###
###                following variables:                                     ###
###                    DataFile                                             ###
###                    MolFile                                              ###
###                    sasaX                                                ###
###                    sasaY                                                ###
###                    sasaZ                                                ###
###                    rotAng                                               ###
###                    rotVecX                                              ###
###                    rotVecY                                              ###
###                    rotVecZ                                              ###
###                    res                                                  ###
###                    emol                                                 ###
###                    eprob                                                ###
###                    conv                                                 ###
###                                                                         ###
###############################################################################
###############################################################################

units		    real # define unit sys -> real is vital for reax
atom_style	    full # reax needs charge or full
dimension       3
boundary        p p p
############### read data
read_data	    ${DataFile} # structure file
############### create plasma molecules
molecule	    probe ${MolFile}
create_atoms 	0 single ${sasaX} ${sasaY} ${sasaZ} mol probe 39802 &
                rotate ${rotAng} ${rotVecX} ${rotVecY} ${rotVecZ} 
############### Create groups
group           protein id <= ${atom_number} #figure out how to do that
group           probe_mol id > ${atom_number}
############### potential
include			ff_params.dat
############### initial velocity
velocity    	all set 0.0 0.0 0.0
############### Freeze macro mol and fix probe mol
fix             freeze protein setforce 0.0 0.0 0.0
fix             fix probe_mol spring tether 50.0 ${sasaX} ${sasaY} ${sasaZ} 0.0
############### thermo and log
thermo	    	1
variable	    etotal equal etotal
############### dump
include			dump_com.dat
############### run 
#run		        0 post no #number of iterations
minimize 	1.0e-10 1.0e-10 1000 10000
############### output
variable        eint equal "(v_etotal - v_emol - v_eprob )*v_conv"
variable        etot equal "(v_etotal)*0.04336"
print           "He    ${sasaX}    ${sasaY}    ${sasaZ}    ${res}    $(v_etot:%.3f)    $(v_eint:%.3f)" append spec.xyz screen no
